<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{review.title}}</h1>
    <h5>{{review.movieTitle}}</h5>
    <p>{{review.description}}</p>
  </div>
</div>
