<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>Edit Review</legend>
    <form method="POST" action="/reviews?_method=PUT">
      {{> partials/reviews-form }}
    </form>
  </div>
</div>
